body {
    background-color: #1a1a1a;
    font-size: 32px;
    color: white;
    height: 100%;
    max-width: 100%;    
    display: block;
    position: relative;
}

.ui {
    align-items: center;
    justify-content: center;
    text-align: center;
}



.ui__texts {
    position: absolute;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    
}

.ui__texts  img {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 20vh;
    width: auto;
}

.text--timer {
    font-family: 'Seven Segment', sans-serif;
    position: absolute;
    top: 10vh;
    right: 2vh;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: bold;
}

.game {
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.1);
}

.ui__buttons {
    margin-top: 5%;
}

button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 100%;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s;
}

button:hover {
    background-color: #e64a19;
}

button:active {
    transform: scale(0.95);
}